@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .map-about{
    width: 100%;
    height: 685px;
    background: url(../img/Bitmap.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header .map-about a .button button{
    width: 208px;
    height: 72px;
    background: #151515;
    font-family: 'Big Shoulders Display';
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    color: #FFFFFF;
    border: none;
    margin-left: 212px;
}

header .map-about a .button button:hover{
    background: #D5966C;
    cursor: pointer;
}

section{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 548px;
    background: #151515;
}

section .section-content{
    width: 1110px;
    height: 316px;
    margin: 104px 165px 0 165px;
    background-color: #151515;
}

section .section-content p{
    height: 128px;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 188px;
    margin-left: 570px; 
}

section .section-content h1{
    height: 140px;
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 760px;
    margin-top: -319px;
}

section .section-content .section-about{
    width: 445px;
    height: 156px;
    background: #151515;
    margin-top: -137px;
    margin-left: 570px;
}

section .section-content .section-about h2{
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #D5966C;
}

section .section-content .section-about p{
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 30px 0px 0 0;
}

footer{
    width: 100%;
    height: 224px;
    background: #D5966C;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer .footer-content{
    width: 1110px;
    height: 84px;
    display: flex;
}

footer .footer-content .footer-section{
    width: 730px;
    height: 84px;
}

footer .footer-content .footer-section p{
    font-family: 'Outfit';
    height: 84px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #151515;
    margin-left: 300px;
    margin-top: -65px;
}

footer .footer-content .footer-icons{
    position: absolute;
    width: 100px;
    height: 20px;
    left: 1175px;
    top: 1228px;
}

footer .footer-content .footer-icons img{
    
}